<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Blog list</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Category</th>
    </tr>

    <tr th:each="blog, status : ${dtoList}">
        <td th:text="${status.count}"></td>
        <td th:text="${blog.titleDto}"></td>
        <td th:text="${blog.categoryDto}"></td>
    </tr>
</table>
</body>
</html>