<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Blog list</h2>

<a th:href="@{/add}">Add new</a><br><br>

<form>
    <input placeholder="Search by Title..." name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>

<p style="color: green" th:text="${mess}"></p>

<table border="1" cellpadding="10">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>

    <tr th:each="blog, status : ${blogList}">
        <td th:text="${blogList.number * 5 + status.count}"></td>
        <td th:text="${blog.title}"></td>
        <td th:if="${blog.category}" th:text="${blog.category.categoryName}"></td>
        <td th:unless="${blog.category}">non</td>
        <td><a th:href="@{/edit/__${blog.id}__}">edit</a></td>
        <td><a th:href="@{/delete/__${blog.id}__}">delete</a></td>
        <td><a th:href="@{/view/__${blog.id}__}">view</a></td>
    </tr>
</table>
<br>
<div>
    <a th:href="@{'/'(page=${blogList.number - 1}, search=${search})}" th:if="${blogList.hasPrevious()}">Previous</a>
    <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>
    <a th:href="@{'/'(page=${blogList.number + 1}, search=${search})}" th:if="${blogList.hasNext()}">Next</a>
</div>
</body>
</html>